@model IEnumerable<Transaction>

@{
    ViewData["Title"] = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/transaction/create" class="text-success float-end">Create transaction</a>

<h1 class="mb-3">@ViewData["Title"]</h1>

<div class="card shadow-sm mb-4">
    <div class="card-table table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Bill</th>
                <th scope="col">Category</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.Id</td>
                    <td>@Math.Round(c.Amount, 2)</td>
                    <td>@c.Date</td>
                    <td>@c.Bill.Title</td>
                    <td>@c.Category.Title</td>
                    <td>@c.TransactionType.Title</td>
                    <td class="text-center">
                        <a href="/transaction/edit/@c.Id" class="text-warning">Edit</a>
                        <a href="/transaction/delete/@c.Id" class="text-danger">Remove</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>